<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="form-group">
        <form id="price_form" th:action="@{/search-hotel/result}" th:object="${searchHotelForm}">
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="alert alert-danger" ></div>
            <input type="text" class="form-control" id="price" th:field="*{price}"><span>円以下</span><br/>
            <button class="btn btn-primary">検索</button>
        </form>
    </div>
<div th:each="hotel:${hotelList}" th:if="${hotelList != null}">
    <table class="table table-hover">
        <tr>
            <th style="width:50%;" scope="row" class="col-xs-6">ホテル名</th>
            <td style="width:50%;" th:text="${hotel.hotelName}"></td>
        </tr>
        <tr>
            <th scope="row" class="col-xs-6">最寄り駅</th>
            <td class="col-xs-6" th:text="${hotel.nearestStation}"></td>
        </tr>
        <tr>
            <th scope="row" class="col-xs-6">価格</th>
            <td class="col-xs-6" th:text="${#numbers.formatInteger(hotel.price, 1, 'COMMA')}"></td>
        </tr>
    </table>
    <br/>
</div>
</body>
</html>